* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login {
    height: 90vh;
    width: 90vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login div {
    /* border: 1px solid black; */
    font-size: 2rem;
}
.login_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
h1 {
    /* border: 1px solid black; */
    font-size: 2.5rem;
}
.login_bottom {
    display: flex;
    justify-content: center;
    /* padding: 5%; */
    flex-wrap: wrap;
    height: 20vh;
    /* border: 1px solid black; */
}
.login_left {
    display: flex;
    /* width: 50%; */
    /* padding: 5%; */
}
.login_left_left, .login_left_right {
    /* padding: 2.5%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}
.login_left_left > * {
    margin: 5%;
    text-align: center;
    /* display: flex; */
}
.login_right {
    /* width: 50%; */
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    font-size: 2rem;
    /* border: 1px solid black; */
}
.login_login_button {
    padding: 10%;
    width: 15rem;
    white-space: nowrap;
    font-size: 2rem;
}
.login_message {
    display: flex;
    justify-content: center;
    padding: 5%;
}
.login_return_button_wrap {
    display: flex;
    justify-content: end;
    /* background-color: pink; */
}
.login_return_button {
    padding: 1%;
    font-size: 1.5rem;
}