.modal {
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal.visible {
    visibility: visible;
}
.modal.hidden {
    visibility: hidden;
}
.modal_content {
    width: 25%;
    height: 15%;
    background-color: white;
    opacity: 1 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal_top, .modal_bottom {
    padding: 5%;
}
.modal_bottom {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.modal_button {
    font-size: 1rem;
}
.modal_message {
    font-size: 1rem;
}
