.modal2 {
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal2.visible {
    visibility: visible;
}
.modal2.hidden {
    visibility: hidden;
}
.modal2_content {
    width: 25%;
    height: 15%;
    background-color: white;
    opacity: 1 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal2_top, .modal2_bottom {
    padding: 5%;
}
.modal2_bottom {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.modal2_button {
    font-size: 1rem;
}
.modal2_message {
    font-size: 1rem;
}
